.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
  border-radius: 3px;
  width: 225px;
  background-color: lightgrey;
  box-shadow: 0 0 5px rgb(84, 84, 84);
}
.card-image img {
  max-width: 100%;
}
.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.title {
  width: 100%;
  text-align: center;
  font-size: 15px;
  padding: 8px 0;
}
.ratingDate {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
